{% extends "base.html" %}

{% block page %}
<!-- Start of first page -->
<div data-role="page" data-theme="a" id="foo">

	<div data-role="header">
		<h1>Foo</h1>
        <div data-role="navbar">
        <ul>
            <li><a href="#foo" class="ui-btn-active ui-state-persist">One <span class="ui-li-count">12</span></a></li>
            <li><a href="#bar">Two</a></li>
        </ul>
        </div><!-- /navbar -->

	</div><!-- /header -->

	<div role="main" class="ui-content">
	<ol data-role="listview">
    <li><a class="no-link">TEST</a><a href="#purchase" class="ui-icon-delete" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a></li>
    <li>TEST</li>
    <li>TEST</li>
    <li>TEST</li>
    <li>TEST</li>
    </ol>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="bar">

	<div data-role="header">
		<h1>Bar23</h1>
        <div data-role="navbar">
        <ul>
        <li><a href="#foo" >One <span class="ui-li-count">0</span></a></li>
         <li><a href="#bar"  class="ui-btn-active ui-state-persist">Two</a></li>
        </ul>
        </div><!-- /navbar -->
	</div><!-- /header -->

	<div role="main" class="ui-content">
	<ul data-role="listview" data-filter="true" data-filter-placeholder="Search tests" data-inset="true">
    <li><a href="#popupMenu1" data-rel="popup" data-transition="pop">TEST1</a></li>
    <li><a href="#popupMenu2">TEST2</a></li>
    <li><a href="#popupMenu3">TEST3</a></li>
    <li><a href="#popupMenu4">TEST4</a></li>
    <li><a href="#popupMenu5">TEST5</a></li>
    <li><a href="#popupMenu6">TEST6</a></li>
    </ul>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
    
    
    <div data-role="popup" id="popupMenu1" data-dismissible="false" data-theme="b">
    <div data-role="header">
    <h3>Bar23</h3>
    </div>
	<div role="main" class="ui-content">
            <ul data-role="listview" style="min-width:210px;" >
    <li>item (1x)</li>
    <li>item (1x)</li>
    <li>item (3x)</li>
    <li>item (1x)</li>
    <li>item (2x)</li>
    </ul>
    <br><br>
    <form>
    <label for="slider">Quantity:</label>
    <input tabindex="-1" type="range" name="slider" id="slider" value="1" min="1" max="6">
    <a tabindex="-1" href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-right">Add</a>
    </form>
    </div>
    
    
    </div>
</div><!-- /page -->

</div>
{% end %}